<footer class="footer" id="footer">

  {% assign color = page.theme_style | default: site.theme_style   %}
 
 <style>
 .grad-cust{
  background: linear-gradient(to bottom, 
    rgba(49,157,211,0.98), 
    /* rgba(41, 144, 194, 0.98),  */
    rgba(0, 74, 118, 0.97), 
    /* rgba(0, 37, 84, 0.98),  */
    rgba(35, 31, 32, 1));
    color: white;
    border-top: solid 5px #ffcd59;
 }
 footer.footer{
   background: url('/assets/images/ship-shadow.png');
   background-repeat: no-repeat;
   background-position: 0% 0%;
 }
 .brand-foot{
   background: #231F20;
 }
 hr.grad-left{
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.75), rgba(255,255,255,0));
    width: 90%;
    margin: auto auto;
 }
 </style>
  <section class="grad-cust">

    {% assign testimonials = site.testimonials | sample:2 %}
    {% for quote in testimonials %}
      {% if forloop.first %}
        {% continue %}
      {% endif %}

      <div class="container-fluid py-5 sr-button">
        <div class="row justify-content-center">
          <div class="col-6  my-auto">
            <a data-toggle="modal" data-target="#testimony" style="cursor:pointer;" title="Click for full quote">
              <p class="lead"><i class="fas fa-quote-left pr-2"></i> {{ quote.description }} <i class="fas fa-quote-right pl-2"></i></p>
              <p class="text-right">&mdash; {{ quote.author }}</p>
            </a>
          </div>
        </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade " id="testimony" tabindex="-1" role="dialog" aria-labelledby="testimonyLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-d10-grey" id="testimonyLabel">Testimonial</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-d10-grey">
              <i class="fas fa-quote-left text-d20-two"></i>
              <div class="px-5">
                {{ quote.content}}
              </div>
              <i class="fas fa-quote-right float-right text-d20-two"></i>
              <div class="container-fluid pt-3">
                <div class="row">
                  <div class="pr-1 col-4 text-right">&mdash;</div>
                  <div class="p-0 col-8">{{ quote.author }}</div>
                  {% if quote.business %}
                    <div class="p-0 offset-4 col-8"><a href="{{ quote.business_url }}" target="_blank">{{ quote.business }}</a></div>
                  {% endif %}
                </div>
                {% if quote.image %}                
                  <div class="row mt-3">
                    <div class="col-12 text-center">
                      <img src="{{ quote.image }}" class="img-fluid" alt="{{ quote.title }}">
                    </div>                  
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

    <hr class="grad">
  
    <div class="container-fluid py-5">
      <div class="row justify-content-center">
        <div class="col-md-4 col text-center my-auto sr-contact">
          <h3>Sign Up for our Newsletter</h3>
          <p class="text-left"><small>By signing up, you'll be emailed about once a month with major IRT updates and news.</small></p>
          <div id="mc_embed_signup">
            <form action="https://irtreels.us18.list-manage.com/subscribe/post?u=793d03288aae50840f4b1967f&amp;id=4cf6dedacf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="form-group">
                <label for="mce-EMAIL" class="mb-4 d-none">Enter your email</label>
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your@Email.com" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <p  class="text-left"><small style="font-size: 60%; color:#c6c6c6">You will be able to unsubscribe at anytime.</small></p>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_793d03288aae50840f4b1967f_4cf6dedacf" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-light mt-4"></div>
              </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>



    <hr class="grad">
  
    {% assign links = site.data.navigation %}

  </section>

  <div class="container-fluid brand-foot py-5">

      <div class="row justify-content-lg-center justify-content-start">

          {% for link in links %}
            {% if link.title == 'Information' %}
              {% for sublink in link.sublinks %}
                {% if forloop.first %}
                  <div class="my-3 col-6 col-lg-2">
                    <h5 style="color:#f5f5f5">{{ sublink.title }}</h5>
                    <ul class="list-unstyled m-0">
                {% elsif sublink.header == true %}
                  <div class="my-3 col-6 col-lg-2">              
                    <h5 style="color:#f5f5f5">{{ sublink.title }}</h5>
                    <ul class="list-unstyled m-0">                  
                {% else %}
                  {% if sublink.title != 'separator' %}              
                    <li><small><a href="{{ sublink.url }}" style="color:#c6c6c6">{{ sublink.title }}</a></small></li>
                  {% endif %}              
                {% endif %}
                      
                {% if sublink.title == 'Pro Staff' %}
                  <li class="pt-3">
                    <strong style="color:#f5f5f5">Address</strong><br>
                    <address style="color:#c6c6c6; font-size: 70%">
                        <a style="color:#c6c6c6;" href="https://goo.gl/maps/a13mMk1dyg52" target="_blank">{{ site.address_1 }}<br>{{ site.address_2 }}</a>
                    </address>
                  </li>
                  <li>
                    <strong style="color:#f5f5f5">Call</strong></br>
                    <a style="color:#c6c6c6;" href="tel:{{ site.phone }}">{{ site.phone }}</a>
                  </li>
                {% endif %}
                
                {% if sublink.title == 'separator' %}
                  </div>
                {% endif %}
              {% endfor %}
            {% elsif link.title == "Blog" %}
              <div class="my-3 col-6 col-lg-3">
                <h5 ><a href="{{ link.url }}" style="color:#f5f5f5">{{ link.title }}</a></h5>
                
                
                <ul class="list-unstyled  m-0" >
                  {% for post in site.posts limit:8 %}
                    <li   ><a href="{{ post.url }}" style="color:#c6c6c6"><small>{{ post.title }}</small></a></li>
                  {% endfor %}
                </ul>
              </div>
            
            {% endif %}
          {% endfor %}
        </div>
      </div>


    <div class="row">
      
      <div py-2 class="col-12 order-3 order-md-1 col-md-4 my-auto">
          <div class="container-fluid text-center list-unstyled">
            <div class="row">   
              {% if site.twitter %} 
              <div class="col-3 py-2">
                <a target="_blank" alt="Twitter"   href="https://twitter.com/{{ site.twitter }}">
                  <i class="fab fa-twitter-square fa-3x icon-grey sr-pop-a" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
              {% if site.tumblr %} 
              <div class="col-3 py-2">
                <a class="grey"   target="_blank" alt="Tumblr"   href="{{ site.tumblr }}/">
                  <i class="fab fa-tumblr fa-3x sr-pop-b" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
              {% if site.pinterest %} 
              <div class="col-3 py-2">
                <a class="grey"   target="_blank" alt="Pinterest"   href="https://www.pinterest.com/{{ site.pinterest }}/">
                  <i class="fab fa-pinterest fa-3x sr-pop-b" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
              {% if site.facebook %} 
              <div class="col-3 py-2">
                <a target="_blank" alt="Facebook"  href="https://www.facebook.com/{{ site.facebook }}/">
                  <i class="fab fa-facebook-square fa-3x icon-grey sr-pop-c" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
              {% if site.instagram %} 
              <div class="col-3 py-2">
                <a class="grey"   target="_blank" alt="Instagram"   href="https://www.instagram.com/{{ site.instagram }}/">
                  <i class="fab fa-instagram fa-3x sr-pop-d" aria-hidden="true "></i>
                </a>
              </div>
              {% endif %}
              {% if site.houzz %} 
              <div class="col-3 py-2">
                <a class="grey"   target="_blank" alt="Houzz"  href="https://www.houzz.com/pro/{{ site.houzz }}">
                  <i class="fab fa-houzz fa-3x sr-pop-a" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
              {% if site.linkedin %} 
              <div class="col-3 py-2">
                <a target="_blank"  alt="LinkedIn" href="https://www.linkedin.com/company/{{ site.linkedin }}/">
                  <i class="fab fa-linkedin fa-3x icon-grey sr-pop-b" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
              {% if site.youtube %} 
              <div class="col-3 py-2">
                <a class="grey"   target="_blank"  alt="Youtube" href="https://www.youtube.com/user/{{ site.youtube }}">
                  <i class="fab fa-youtube fa-3x sr-pop-c" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
              {% if site.google_plus %} 
              <div class="col-3 py-2">
                <a target="_blank" alt="Google Plus" href="https://plus.google.com/+{{ site.google_plus }}/">
                  <i class="fab fa-google-plus-square fa-3x icon-grey sr-pop-d" aria-hidden="true"></i>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
      </div>
      <div class="py-2 col-12 order-1 order-md-2 col-md-4 my-auto text-center sr-button">
        <address>
            <p class="text-l10-grey">{{ site.address_1 }}<br>{{ site.address_2 }}</p>
        </address>
        <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
      </div>
      <div class="py-2 col-12 order-2 order-md-3 col-md-4 my-auto">
        <ul class="list-unstyled sr-icons">

          {% assign nav-section = site.footer-nav  | sort: 'weight' %}
          {% for section in nav-section %}
            {% if forloop.first == false and section.weight > 0 %}
              <li><hr class="{{ color }}-right"></li>
            {% endif %}

            {% for link in section.nav %}
              <li> 
              {% if forloop.first == false %}
              <a class="grey" href="{{ link.url }}">  
                {{ link.title }}
              </a>
              {% else %}
              <a href="{{ link.url }}"><strong >
                {{ link.title }} 
              </strong></a>
              {% endif %}
            </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
      
    </div>
  </div>
</footer>




{% if site.asset_cdn == 2  %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="/assets/solar-flair.min.js" media="nope!" onload="this.media='all'"></script>

{% elsif site.asset_cdn == 1 }
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.js"></script>
  <script src="/assets/solar-flair.js" media="nope!" onload="this.media='all'"></script>
  
{% else %}
  {% if jekyll.environment == "production" %}
    <script src="https://flair.planning.solar/assets/jquery/dist/jquery.min.js" media="nope!" onload="this.media='all'"></script>
    <script src="https://flair.planning.solar/assets/jquery.easing/jquery.easing.min.js" media="nope!" onload="this.media='all'"></script>
    <script src="https://flair.planning.solar/assets/bootstrap/dist/js/bootstrap.bundle.min.js" media="nope!" onload="this.media='all'"></script>
    <script src="https://flair.planning.solar/assets/scrollreveal/dist/scrollreveal.min.js" media="nope!" onload="this.media='all'"></script>
    <script src="/assets/lightbox/dist/ekko-lightbox.js" media="nope!" onload="this.media='all'"></script>
    <!-- <script src="https://flair.planning.solar/assets/solar-flair.min.js" media="nope!" onload="this.media='all'"></script> -->
    <script src="/assets/solar-flair.min.js" media="nope!" onload="this.media='all'"></script>
  
    <script  media="nope!" onload="this.media='all'">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    
    </script>
    {% if page.layout == "timeline" %}
      <!-- Timeline Dependentcies -->
      <script src="https://flair.planning.solar/assets/timeliner/js/timeliner.min.js" media="nope!" onload="this.media='all'"></script>
      <script>
        $(document).ready(function() {
                $.timeliner({});
        });
      </script>
    {% endif %}
    {% if page.layout == "product" %}
      
    <script type="text/javascript">
      // id: product-component-4f546b5b8a3
      $("#reel-details").hide();
     
      var checkExist = setInterval(function() {
        if ($('iframe[name^=frame-product]').length) {
            console.log("Exists!");
           

            setTimeout(function(){
              // $("#spinner").delay(2100).hide();
              $("#footer").delay(1000).show();

              $( "#spinner" ).animate({
                height: "0vh",
                opacity: 0,
              }, 1000 );
              
              $("#reel-details").delay(2500).show();
              $("body").delay(2500).css("overflow", "scroll");
              $("html").delay(2500).css("overflow", "scroll");
            }, 1000);


            clearInterval(checkExist);
        }
      }, 100); // check every 100ms

      </script>
  {% endif %} 
  {% else %}
    <script src="http://flair.planning.localhost/assets/jquery/dist/jquery.js" media="nope!" onload="this.media='all'"></script>
    <script src="http://flair.planning.localhost/assets/jquery.easing/jquery.easing.js" media="nope!" onload="this.media='all'"></script>
    <script src="http://flair.planning.localhost/assets/bootstrap/dist/js/bootstrap.bundle.js" media="nope!" onload="this.media='all'"></script>
    <script src="http://flair.planning.localhost/assets//scrollreveal/dist/scrollreveal.js" media="nope!" onload="this.media='all'"></script>
    <script src="http://flair.planning.localhost/assets/solar-flair.js" media="nope!" onload="this.media='all'"></script>
    {% if page.layout == "timeline" %}
      <!-- Timeline Dependentcies -->
      <script src="http://flair.planning.localhost/assets/timeliner/js/timeliner.js" media="nope!" onload="this.media='all'"></script>
      <script>
        $(document).ready(function() {
          $.timeliner({});
        });
        
      </script>
    {% endif %}
    {% if page.layout == "product" %}
      
      <script type="text/javascript">
        // id: product-component-4f546b5b8a3
        console.log('test');
        $(document).ready(function(){
           $("#product-component-4f546b5b8a3").change(function(){
              alert( $("#product-component-4f546b5b8a3").attr("value") );
           });
        });
        
        </script>
    {% endif %}
  {% endif %}
{% endif %}



<!-- hack for cart to appear on all pages -->
{% if page.layout != "product" %}
<div id='product-component-e1e432057c0' class="d-none"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'the-innovative-shop.myshopify.com',
      apiKey: 'acb4a170c9887f82bda30e1714a08aca',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [587099144247],
        node: document.getElementById('product-component-e1e432057c0'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "modal",
    "variantId": "all",
    "width": "240px",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "VIEW PRODUCT"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal"
      },
      "variantTitle": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Montserrat, sans-serif"
      },
      "description": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Montserrat",
      "Open Sans",
      "Montserrat",
      "Open Sans",
      "Open Sans",
      "Open Sans"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal"
      },
      "variantTitle": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Montserrat, sans-serif"
      },
      "description": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      },
      "compareAt": {
        "font-family": "Open Sans, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Montserrat",
      "Open Sans",
      "Montserrat",
      "Open Sans",
      "Open Sans",
      "Open Sans"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Open Sans, sans-serif"
      },
      "select": {
        "font-family": "Open Sans, sans-serif"
      }
    },
    "googleFonts": [
      "Open Sans",
      "Open Sans"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script>
{% endif %}


<script src="/assets/jquery.serialize-object.min.js" media="nope!" onload="this.media='all'"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js" media="nope!" onload="this.media='all'"></script>
<!-- https://script.google.com/macros/s/AKfycbyHvjcZv6evSHXF1q7nf6AHnDXkA-tc_pw9NjrehxFa_HPy_9Y/exec -->
<script>
//   (function() {
//   'use strict';
//   window.addEventListener('load', function() {
//     // Fetch all the forms we want to apply custom Bootstrap validation styles to
//     var forms = document.getElementsByClassName('needs-validation');
//     // Loop over them and prevent submission
//     var validation = Array.prototype.filter.call(forms, function(form) {
//       form.addEventListener('submit', function(event) {
//         if (form.checkValidity() === false) {
//           event.preventDefault();
//           event.stopPropagation();
//         }
//         form.classList.add('was-validated');
//       }, false);
//     });
//   }, false);
// })();


  var $form = $('form#reel-registration'),
      url = 'https://script.google.com/macros/s/AKfycbyHvjcZv6evSHXF1q7nf6AHnDXkA-tc_pw9NjrehxFa_HPy_9Y/exec'
  $('#reel-registration').on('submit', function(e) {
    e.preventDefault();
    $(":submit", this).attr("disabled", "disabled");

    $('#reel-registration').validate({
      showErrors: function(errorMap, errorList) {
          // Do nothing here
        
      },
      onfocusout: false,
      onkeyup: false,
    });

    if($form.valid()){
      var jqxhr = $.ajax({
        url: url,
        method: "GET",
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        dataType: "json",
        data: $form.serializeObject(),
        success: function(res){
          window.location.replace("/info/support/reel-registration/thank-you");
        }
      });
    }else{
      $(":submit", this).removeAttr("disabled", "disabled"); 
    }
  });

 
</script>