<header  role="banner">
    {% assign pages = site.pages | sort: 'weight' %} 
    {% assign default_paths = pages | map: "path"  %}
    {% assign page_paths = site.header_pages | default: default_paths   %}

    {% assign theme_style = page.theme_style | default: site.theme_style   %}
    {% assign favicon = site.data.theme[theme_style].favicon    %}
    {% assign logo = site.data.theme[theme_style].logo    %}
    {% assign navBG = site.data.theme[theme_style].navbar-bg    %}
    {% assign navColor = site.data.theme[theme_style].navbar-color    %}
  
    {% if page_paths %}
    <style>
    .dropdown-toggle::after{content:none;} 
    .bg-dark{ background:rgba(35,31,32, .95)!important; }
    nav.navbar{ border-bottom: solid 1px rgba(35,31,32, 1)!important; box-shadow: 0 -35px 10px 35px rgba(0,0,0,0.5);}
    img {
      opacity: 1;
      transition: opacity 0.3s;
    }

    img[data-src] {
      opacity: 0;
    }
    </style>

      <nav id="mainNav" class="navbar  navbar-expand-lg justify-content-between fixed-top navbar-{{ navColor }} bg-{{ navBG }}">
        <a class="navbar-brand py-0" href="{{ site.brand_url }}">
          <img src="/assets/logos/logotype-narrow--colored.svg" height="60px"  alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse " id="navbar">

          <ul class="navbar-nav  ml-auto pt-1">

            {% assign links = site.data.navigation %}
            {% for link in links %}
              {% assign class = nil %}
              
              {% if page.url contains link.url %}
                  {% assign class = 'active' %}
              {% endif %}
              
              {% if link.sublinks %}
                <li class="dropdown nav-item {{ class }}">
                  <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }}</a>
                  
                  <div class="dropdown-menu dropdown-menu-right">
                    {% for sublink in link.sublinks %}
                      {% if sublink.title == 'separator' %}
                        <div class="dropdown-divider"></div>
                      {% else %}
                      
                        {% if sublink.header %}                      
                          <h6 class="dropdown-header">{{ sublink.title }}</h6>
                        {% else %}
                        

                          {% if sublink.disabled %}                      
                            <a class="dropdown-item disabled" href="#">{{ sublink.title }}</a>
                          {% else %}
                            <a class="dropdown-item" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                          {% endif %}

                        {% endif %}  

                      





                      {% endif %}
                    {% endfor %}
                  </div>
                </li>

              {% else %}
                <li class="nav-item {{ class }}">
                  <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}     
          </ul>
        
        </div>
      </nav>
    {% endif %}
</header>
