{% assign media = site.posts | where: "categories", 'Media Mention' %}
{% assign pr = site.posts | where: "categories", 'Press Release' %}


{% assign posts = pr | concat: media %}
{% assign posts = posts | sort: 'date' | reverse %}
<div class="mt-2">
{% for post in posts %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="my-3" style="font-size:120%"><strong>{{ post.date | date: "%b %-d, %Y" }}</strong></p>
    <div class="clearfix lead pb-3">
        {{ post.excerpt }}
    </div>
    
{% endfor %}
</div>