---
layout: default
---

{% if page.cover %}
<div class="jumbotron cover jumbotron-fluid mb-5" style="background-image:url('{{ page.cover }}');">
  <div class="container" >
    <div class="row">
      <div class="offset-1 col-11">
        <h1 class="display-3 text-uppercase">{{ page.long_title | escape }}</h1>
        <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<main class="container mt-10" aria-label="Content">

  <article class="row mb-5">

    {% if page.cover == null %}
    <div class="col-12">
      <h1 class="display-5 text-uppercase">{{ page.long_title | escape }}</h1>
      <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
    </div>
    {% endif %}
    
    <div class="col-12 col-lg-6 text-right order-lg-2">
      {% if page.url != '/info/contact/pro-staff/' %}
        <div class="mb-4">
            <p>Have what it takes to become a Pro-Staffer? <a href="/info/contact/pro-staff">Let us know!</a></p>
        </div>
      {% endif %}
        <div class="mb-4">
            <h2 class="h4">Email</h2>
            <a href="mailto:reels@irtreels.com">reels@irtreels.com</a>
        </div>
        
        <div class="mb-4">
            <h2 class="h4">Phone</h2>
            <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
        </div>

        <div class="mb-4">
            <h2 class="h4">Address</h2>
            <address>
                <a href="https://goo.gl/maps/a13mMk1dyg52" target="_blank">{{ site.address_1 }}<br>{{ site.address_2 }}</a>
            </address>
        </div>

        
    </div>

    {% if content %}
    <div class="col-12 col-lg-6 order-lg-1" id="content">
      
      {{ content | inject_anchors }}
    </div>
    {% endif %}
    
 

    {% if page.toc or site.resources %}
    <div class="col-12 col-md-4">
      {% if site.resources %}
        {% include resources.html %}
      {% endif %}

      {% if page.toc %}
        <h4>Contents</h4>
        {{ content | toc_only }} 
      {% endif %}
      
      {% assign ad = page.ad | default: false  %}
      {% if ad %}      
        {% include ad.html %}
      {% endif %}
      
    </div>
    {% endif %}
    
    <!-- <header class="col-12">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </header> -->
    
    

  </article>

</main>

