---
layout: default
---

{% assign color = page.theme_style | default: site.theme_style   %}
{% assign favicon = site.data.theme[color].favicon    %}

<style>
  .blk {
    background: rgba(0,0,0,0.7);
    text-shadow: #000 1px 2px;
}
  nav.navbar{
    border-bottom:solid 1px #343a40;
  }
  .bt-5{
    border-top: solid 5px #ffcd59;
  }
  .b-5{
    border-bottom: solid 5px #ffcd59;
    border-top: solid 5px #ffcd59;
  }
</style>

<div class="jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('/assets/images/home--spg-red.jpg');background-size:cover;background-position:center;  height: 100vh; color:white;">
  
  <div class="container bottom text-center py-5">
    <h1 class="display-5 mb-0 sr-contact">Innovative Reel Technologies</h1>
    <p class="lead  p-1 bold sr-contact" >{{ site.slug }}</p>
    <!-- <hr class="my-4"> -->
    <button type="button" class="btn btn-primary sr-button" onclick="location.href = '/spinning-reels/comparison/';" >Buy Now</button>
    {% if site.cta_gs_url %}
    {% if site.cta_gs_target == '_blank' %}
    <!-- TODO: update to stable from alpha format -->
    
    <button type="button" class="btn btn-primary sr-button" onclick="window.open('{{ site.cta_gs_url }}', '_blank');" >{{ site.cta_gs_text }}</button>
    {% else %}    
    <button type="button" class="btn btn-primary sr-button" onclick="location.href = '{{ site.cta_gs_url }}';" >{{ site.cta_gs_text }}</button>
    {% endif %}
    {% endif %}
    
    <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#content">Learn More</button>
    
  </div>
</div>


<!-- <section id="content" class="mt-10"> -->
<div id="content"  class="py-0 jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('assets/images/home--ross-w-dog--edit.jpg');background-size:cover;background-position:left;  height: 100vh; color:white;">
  <div class="container-fluid d-flex" >
    <div class="row justify-content-center pb-5 align-self-end blk">
      <div class="col-12">
        <h3 class="text-center display-4 pt-3">The Reel American Experience</h3>
      </div>
      <div class="text-center col-lg-7 mb-3 col-9">
        <p class="lead tease">
          Our all-American made reels are <a class="highlight" href="/spinning-reels#tech">guaranteed</a> to give you a one-of-a-kind <a href="/spinning-reels#tech" class="highlight">fishing machine</a> and <a class="highlight" href="/spinning-reels#fishing">experience</a> with every purchase 
        </p>
        <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#content2">Continue</button>
        
      </div>
    </div>
  </div>
</div>

<div  id="content2" class="pt-10 jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('/assets/images/home--reel-collection.jpg');background-size:cover;background-position:center;  height: 100vh; color:white;">

  <div class="container-fluid" >
    <div class="row justify-content-center mt-5 ">
      <div class="col-12">
        <h3 class="text-center display-4">Designed with Ingenuity</h3>
      </div>
      <div class="text-center col-lg-7 mb-3 col-9">
        <p class="lead tease">
          <a href="/spinning-reels#tech" class="highlight">Spin Power Grip™</a> innovation leads to a better <a class="highlight" href="/spinning-reels#fishing">angling experience</a>
        </p>
        <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#content3">Go on...</button>
        
      </div>
    </div>
  </div>
</div>

<div id="content3" class="pt-0 jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('/assets/images/home--fishing-motivation.jpg');background-size:cover;background-position:center;  height: 100vh; color:white;">
  <div class="container-fluid  " >
    <div class="row justify-content-center pt-5 pb-3 blk">
      <div class="col-12 pt-5">
        <h3 class="text-center display-4">An Angler's Dream</h3>
      </div>
      <div class="text-center col-lg-7 mb-3 col-9">
        <p class="lead tease">
          IRT Reels provide better <a class="highlight" href="/spinning-reels#fishing">leverage, comfort, and distance</a> over the competition
        </p>
        <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#products">Find Your Reel</button>
        
      </div>
    </div>
  </div>
</div>

<div id="products" class="bt-5 container-fluid whatare ">
  <div class="container" >
    <div class="row h-100 py-5" style="margin:3% 0px;">
      <div class="col-12">
        <h2 class="text-center display-3 mb-3">Products</h2>
      </div>
      <div class="col-12 col-md-6">
        <h3 class=" text-center">Spinning Reels</h3>
        <a href="/spinning-reels/">          
          <img src="/assets/images/home--generation-2-spin-power-grip.jpg" class="rounded">
          <h3 class="h5 text-center pt-3 text-d20-two">Browse Our Selections</h3>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <h3 class=" text-center">Fly Reels</h3>
        <a href="/fly-reels/waitlist/">
          <img src="/assets/images/home--fly-reel.jpg" class="rounded">
          <h3 class="h5 text-center pt-3 text-d20-two">Coming Soon</h3>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-3 b-5" style="background:#231F20">
  <div class="row">
    <div class="col-12 col-xl-8 offset-xl-2 px-0">
      
      {% include our-story.html %}
      
      {% comment %}
      {{ content }}
      {% endcomment %}
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row">
    <div class="col-12">
      {% include media-gallery.html data-gallery="gallery" limit="25" %}
    </div>
  </div>
</div>







