---
layout: default
---

{% assign color = page.theme_style | default: site.theme_style   %}
{% assign favicon = site.data.theme[color].favicon    %}

<style>
  .blk {
    background: rgba(0,0,0,0.7);
    text-shadow: #000 1px 2px;
}
  nav.navbar{
    border-bottom:solid 1px #343a40;
  }
  .bt-5{
    border-top: solid 5px #ffcd59;
  }
  .b-5{
    border-bottom: solid 5px #ffcd59;
    border-top: solid 5px #ffcd59;
  }
</style>

<div class="jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('/assets/images/home--spg-red.jpg');background-size:cover;background-position:center;  height: 100vh; color:white;">
  
  <div class="container bottom text-center py-5">
    <h1 class="display-5 mb-0 sr-contact">Innovative Reel Technologies</h1>
    <p class="lead  p-1 bold sr-contact" >{{ site.slug }}</p>
    <!-- <hr class="my-4"> -->
    <button type="button" class="btn btn-primary sr-button" onclick="location.href = '/spinning-reels/comparison/';" >Buy Now</button>
    {% if site.cta_gs_url %}
    {% if site.cta_gs_target == '_blank' %}
    <!-- TODO: update to stable from alpha format -->
    
    <button type="button" class="btn btn-primary sr-button" onclick="window.open('{{ site.cta_gs_url }}', '_blank');" >{{ site.cta_gs_text }}</button>
    {% else %}    
    <button type="button" class="btn btn-primary sr-button" onclick="location.href = '{{ site.cta_gs_url }}';" >{{ site.cta_gs_text }}</button>
    {% endif %}
    {% endif %}
    
    <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#content">Learn More</button>
    
  </div>
</div>


<!-- <section id="content" class="mt-10"> -->
<div id="content"  class="py-0 jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('assets/images/home--ross-w-dog--edit.jpg');background-size:cover;background-position:left;  height: 100vh; color:white;">
  <div class="container-fluid d-flex" >
    <div class="row justify-content-center pb-5 align-self-end blk">
      <div class="col-12">
        <h3 class="text-center display-4 pt-3">The Reel American Experience</h3>
      </div>
      <div class="text-center col-lg-7 mb-3 col-9">
        <p class="lead tease">
          Our all-American made reels are <a class="highlight" href="/spinning-reels#tech">guaranteed</a> to give you a one-of-a-kind <a href="/spinning-reels#tech" class="highlight">fishing machine</a> and <a class="highlight" href="/spinning-reels#fishing">experience</a> with every purchase 
        </p>
        <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#content2">Continue</button>
        
      </div>
    </div>
  </div>
</div>

<div  id="content2" class="pt-10 jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('/assets/images/home--reel-collection.jpg');background-size:cover;background-position:center;  height: 100vh; color:white;">

  <div class="container-fluid" >
    <div class="row justify-content-center mt-5 ">
      <div class="col-12">
        <h3 class="text-center display-4">Designed with Ingenuity</h3>
      </div>
      <div class="text-center col-lg-7 mb-3 col-9">
        <p class="lead tease">
          <a href="/spinning-reels#tech" class="highlight">Spin Power Grip™</a> innovation leads to a better <a class="highlight" href="/spinning-reels#fishing">angling experience</a>
        </p>
        <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#content3">Go on...</button>
        
      </div>
    </div>
  </div>
</div>

<div id="content3" class="pt-0 jumbotron jumbotron-fluid eq-height home-{{ color }} vh{{ site.vertical_height }} mb-0" style="background-image:url('/assets/images/home--fishing-motivation.jpg');background-size:cover;background-position:center;  height: 100vh; color:white;">
  <div class="container-fluid  " >
    <div class="row justify-content-center pt-5 pb-3 blk">
      <div class="col-12 pt-5">
        <h3 class="text-center display-4">An Angler's Dream</h3>
      </div>
      <div class="text-center col-lg-7 mb-3 col-9">
        <p class="lead tease">
          IRT Reels provide better <a class="highlight" href="/spinning-reels#fishing">leverage, comfort, and distance</a> over the competition
        </p>
        <button type="button" class="btn btn-outline-light page-scroll sr-button" href="#products">Find Your Reel</button>
        
      </div>
    </div>
  </div>
</div>

<div id="products" class="bt-5 container-fluid whatare ">
  <div class="container" >
    <div class="row h-100 py-5" style="margin:3% 0px;">
      <div class="col-12">
        <h2 class="text-center display-3 mb-3">Products</h2>
      </div>
      <div class="col-12 col-md-6">
        <h3 class=" text-center">Spinning Reels</h3>
        <a href="/spinning-reels/">          
          <img src="/assets/images/home--generation-2-spin-power-grip.jpg" class="rounded">
          <h3 class="h5 text-center pt-3 text-d20-two">Browse Our Selections</h3>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <h3 class=" text-center">Fly Reels</h3>
        <a href="/fly-reels/waitlist/">
          <img src="/assets/images/home--fly-reel.jpg" class="rounded">
          <h3 class="h5 text-center pt-3 text-d20-two">Coming Soon</h3>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-3 b-5" style="background:#231F20">
  <div class="row">
    <div class="col-12 col-xl-8 offset-xl-2 px-0">
      
      <style>
        .cara-caption{
          background: rgba(35,31,32, .7);
        }
      </style>
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
          <li data-target="#carouselIndicators" data-slide-to="3"></li>
          <li data-target="#carouselIndicators" data-slide-to="4"></li>
          <li data-target="#carouselIndicators" data-slide-to="5"></li>
          <li data-target="#carouselIndicators" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/logos/logotype--colored--bg-black.svg" alt="First slide">
            <div class="carousel-caption d-block">
              <h2>The Story of IRT Reels</h2>
              <p>Like any decent story, the history of Innovative Reel Technologies started with an American dream and a deep passion for success.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1150x750" alt="Second slide">
            <div class="carousel-caption d-block rounded px-2 cara-caption">
              <p>When Penn Reels—a local Pennsylvania reel company—closed their Hegins, PA plant and began outsourcing more parts and production overseas, several of the employees came to work for Solar Innovations<sup>®</sup>. Greg Header, an avid outdoorsman and the company president, began talking with some of the workers and brainstormed the idea of making an American made fishing reel. Between the experience of the workers and Greg’s passion for fishing, the idea of IRT was born.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1150x750" alt="Third slide">
            <div class="carousel-caption d-block rounded px-2 cara-caption">
              <p>The goal for IRT was to create unique and efficient fishing reels that could be customized with dedicated fishermen in mind. We realized that each rod, reel, and piece of tackle had the potential to hold memories of monumental catches and great days spent with family and friends. During the creation process, IRT latched onto this idea, truly wanting to bring customers a durable reel for sport and hobby fisherman alike that could bring forth a lifetime of memories.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1150x750" alt="Fourth slide">
            <div class="carousel-caption d-block rounded px-2 cara-caption">
              <p>By 2006, IRT received its first patent for the Fishing Reel Leg Applied Powergrip™ and by 2007, Greg Header launched IRT officially. While other companies moved or outsourced their builders, IRT proudly kept engineering, development, and manufacturing right here in the US throughout the entire process. For over ten years, IRT has worked on development and patents to make some of the best fishing reels in the industry, and our team continuously tests and retests the products to make sure they are perfect.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1150x750" alt="Fifth slide">
            <div class="carousel-caption d-block rounded px-2 cara-caption">
              <p>Our staff and customers are a part of the IRT family, so we are constantly listening to their wants and needs to further improve our products. As a result, IRT has been built on listening to the anglers that work directly in the field. Our staff are some of the most dedicated individuals to ever work in the industry and it shows by the quality of the products that we produce.</p>
            </div>
          </div>
      
          <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1150x750" alt="Sixth slide">
            <div class="carousel-caption d-block rounded px-2 cara-caption">
              <p>Our all-American made reels are guaranteed to give you a one-of-a-kind fishing machine and experience with every purchase. Created from our patented precision manufacturing, our aluminum spinning reels are the best on the market today.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1150x750" alt="Seventh slide">
            <div class="carousel-caption d-block rounded px-2 cara-caption">
              <p>Since the first reel was sold in 2011, IRT has been pushing forward to consistently provide the best products in the industry to our customers. Our mission has always been to infuse the fishing reel industry with fresh new ideas, help consumers think outside of the box, and to produce top quality fishing products using all-American ingenuity. Our story is part of who we are as a company and we take pride in our humble beginnings and will continue to work every day to be the best that we can be.                </p>
            </div>
          </div>
        </div>
      </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {% comment %}
      {{ content }}
      {% endcomment %}
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row">
    <div class="col-12">
      {% include media-gallery.html data-gallery="gallery" limit="25" %}
    </div>
  </div>
</div>







