---
layout: default
---
{% assign theme_style = page.theme_style | default: site.theme_style   %}

<div class="container"  style="margin-top:66px">
  <div class="row">
    <div class="col-11">
      <h1 class="display-1 text-uppercase text-d20-grey">{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>
        {{ page.description }}
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">

    <div class="col-12 col-lg-6">
      <h2>IRT Reel Dealers</h2>
      <div class="container-fluid">

        {% assign dealers = site.partnerships | where:'partner-type', 'dealer' | sort: 'title'  %}
        {% for dealer in dealers %}
          <div class="media">
            {% if rod.logo %}          
              <a href="{{ dealer.url }}"><img class="mr-3" src="{{ dealer.logo }}" alt="{{ dealer.title }}"></a>
            {% endif %}
            <div class="media-body">
              <a href="{{ dealer.url }}"><h5 class="mt-0 mb-1">{{ dealer.title }}</h5></a>
              <p class="mb-1"><small>{{ dealer.address }}</small></p>
              {{ dealer.excerpt }}
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h2>Fishing Rods</h2>
      <div class="container-fluid">

        {% assign rods = site.partnerships | where:'partner-type', 'rods' | sort: 'location'  %}
        {% for rod in rods %}

          <div class="media">
            <div class="media-body">
              {% if rod.logo %}
                <a href="{{ rod.url }}"><img class="mr-3" src="{{ rod.logo }}" alt="{{ rod.title }}"></a>
              {% endif %}
              <a href="{{ rod.url }}"><h5 class="mt-0 mb-1">{{ rod.title }}</h5></a>
              <p class="mb-1"><small>{{ rod.address }}</small></p>
              {{ rod.excerpt }}
            </div>
          </div>

        {% endfor %}

        
      </div>
    </div>

    

    <div class="col-12">
      <h2>Charters</h2>
      <div class="container-fluid">

        <div class="row">
          {% assign charters = site.partnerships | where:'partner-type', 'charter' | sort: 'location'  %}
          {% for charter in charters %}
            <div class="col-12 col-lg-6">
              <div class="media">
                <a href="{{ charter.url }}"><img class="mr-3" src="{{ charter.logo }}" alt="{{ charter.title }}"></a>
                <div class="media-body">
                  <a href="{{ charter.url }}"><h5 class="mt-0 mb-1">{{ charter.title }}</h5></a>
                  <p class="mb-1"><small>{{ charter.address }}</small></p>
                  {{ charter.excerpt }}
                </div>
              </div>
            </div>
          {% endfor %}
            
        </div>
        
      </div>
    </div>
    
  </div>

  
</div>

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border:none;
    }
    /* header{display: none!important} */
</style>
<a id="map" ></a>
<div  class=" container-fluid" style="padding-top:68px">
  <div class="row">
    <div class="col-12 google-maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1gJ0fl4ISVD_T5-4aDZ6CMw7881M" width="640" height="480"></iframe>
    </div>
  </div>
</div>