---
layout: default
---
<style>
body>main>article>div.col-12.col-md-4>h4 #content p, article p {
    color: #424242;
    line-height: 170%;
    word-spacing: .05em;
    font-size: 1em;
}
</style>
{% assign theme_style = page.theme_style | default: site.theme_style   %}
{% if page.cover %}
<div class="jumbotron jumbotron-fluid mb-5" style="position:relative;background-image:url('{{ page.cover }}');background-size:cover;background-position:center;  height: 65vh; color:white;">
  <div class="container" style="position: absolute; bottom: 0;background:rgba(0,0,0,.7); width:100%; max-width:none; text-shadow: rgb(0, 0, 0) 1px 2px;">
    <div class="row">
      <div class="offset-1 col-11">
        <h1 class="display-3 text-uppercase">{{ page.long_title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
{% endif %}

<main class="container mt-10" aria-label="Content" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="row">

    {% if page.cover == null %}
    <div class="col-12">
      <h1 class="display-5 text-uppercase">{{ page.title | escape }}</h1>
  
      {% if page.description %}    
        <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
      {% endif %}
    </div>
    {% endif %}
    
    {% if content %}
    <div class="col-12 col-lg-3 text-right" >
      <p class="post-meta text-d20-{{ theme_style }} h3">{{ page.date | date: "%b %-d, %Y" }}</p>

      {% assign pro = site.pro-staff | where: "title", page.author  | first  %}
      

      <p class="post-meta text-d20-{{ theme_style }} h5 pt-3"><a href="{{ pro.url }}">{{ pro.title }}</a></p>
      <p class="post-meta text-d20-{{ theme_style }}"><small>{{ pro.irt-affiliation }}</small></p>
      {% if pro.image %}
        <a href="{{ pro.url }}"><img src="{{ pro.image }}" class="mb-4 rounded-circle w-50 "></a>
      {% endif %}
      <div class="text-right mb-3 w-100">
        {% if pro.links.instagram %}
          <a href='{{ pro.links.instagram }}'><i class='mx-2 fa-2x fab fa-instagram'></i></a>
        {% endif %}
        {% if pro.links.twitter %}
          <a href='{{ pro.links.twitter }}'><i class='mx-2 fa-2x fab fa-twitter-square'></i></a>
        {% endif %}
        {% if pro.links.facebook %}
          <a href='{{ pro.links.facebook }}'><i class='mx-2 fa-2x fab fa-facebook-square'></i></a>
        {% endif %}
        {% if pro.links.pinterest %}
          <a href='{{ pro.links.pinterest }}'><i class='mx-2 fa-2x fab fa-pinterest-square'></i></a>
        {% endif %}
        {% if pro.links.website %}
          <a href='{{ pro.links.website }}'><i class='mx-2 fa-2x fas fa-globe'></i></a>
        {% endif %}
      </div>
      <div class="d-none d-lg-block">

        {% if page.locations[0] %}
        
          <hr class="mb-3 mt-1">
          <ul class="list-unstyled text-d10-{{ theme_style }}">
            {% for location in page.locations %}
              {% if forloop.length > 1 and forloop.first %}
              <li><p class="text-d20-{{ theme_style }} h4">Locations</p></li>
              {% elsif forloop.first %}
              <li><p class="text-d20-{{ theme_style }} h4">Location</p></li>
              {% endif %}
              <li>{{ location }} </li>
            {% endfor %}
          </ul>
        {% endif %}  

        {% if page.categories[0] %}
        
          <hr class="mb-3 mt-1">
          
          <ul class="list-unstyled text-d10-{{ theme_style }}">
            {% for category in page.categories %}
              {% if forloop.length > 1 and forloop.first %}
              <li><p class="text-d20-{{ theme_style }} h4">Categories</p></li>
              {% elsif forloop.first %}
              <li><p class="text-d20-{{ theme_style }} h4">Category</p></li>
              {% endif %}
              <li>{{ category }} </li>
            {% endfor %}
          </ul>
        {% endif %}   

        {% if page.fish[0] %}
          <hr class="mb-3 mt-1">
          <ul class="list-unstyled text-d10-{{ theme_style }}">
            {% for fish in page.fish %}
              {% if forloop.first %}
                <li><p class="text-d20-{{ theme_style }} h4">Fish</p></li>
              {% endif %}
              <li>{{ fish }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        
        {% if page.tags[0] %}
          <hr class="mb-3 mt-1">
          <ul class="list-unstyled text-d10-{{ theme_style }}">
            {% for tag in page.tags %}
              {% if forloop.length > 1 and forloop.first %}
              <li><p class="text-d20-{{ theme_style }} h4">Tags</p></li>
              {% elsif forloop.first %}
              <li><p class="text-d20-{{ theme_style }} h4">Tag</p></li>
              {% endif %}
              <li>{{ tag }} </li>
            {% endfor %}
          </ul>
        {% endif %}    
        
        <hr class="mb-3 mt-1">        
        <ul class="list-unstyled  m-0" >
          {% for post in site.posts limit:5 %}
            {% if forloop.first %}        
            <li><p class="text-d20-{{ theme_style }} h4">Recent Blogs</p></li>
            {% endif %}
            {% if post.path != page.path %}
              <li class="my-2"><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <hr class="mb-3 mt-1">
    </div>
    <article class="col-12 col-lg-9 mb-4">
      {{ content }}
    </article>
    {% endif %}
    

    {% if page.toc %}
    <div class="col-12 col-md-4">
      <h4>Contents</h4>
      {{ content | toc_only }} 
      
      {% include ad.html %}
    </div>
    {% endif %}
    
    <!-- <header class="col-12">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </header> -->
    
    

  </div>

</main>