---
layout: default
---
<style>
body>main>article>div.col-12.col-md-4>h4 #content p, article p {
    color: #424242;
    line-height: 170%;
    word-spacing: .05em;
    font-size: 1em;
}
</style>
{% assign theme_style = page.theme_style | default: site.theme_style   %}
{% if page.cover %}
<div class="jumbotron jumbotron-fluid mb-5" style="position:relative;background-image:url('{{ page.cover }}');background-size:cover;background-position:center;  height: 65vh; color:white;">
  <div class="container" style="position: absolute; bottom: 0;background:rgba(0,0,0,.7); width:100%; max-width:none; text-shadow: rgb(0, 0, 0) 1px 2px;">
    <div class="row">
      <div class="offset-1 col-11">
        <h1 class="display-3 text-uppercase">{{ page.long_title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
{% endif %}

<main class="container mt-10" aria-label="Content" itemscope itemtype="http://schema.org/BlogPosting">

  <article class="row">

    {% if page.cover == null %}
    <div class="col-12">
      <h1 class="display-5 text-uppercase">{{ page.title | escape }}</h1>
  
      {% if page.description %}    
        <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
      {% endif %}
    </div>
    {% endif %}
    
    {% if content %}
    <div class="col-12 col-lg-3 text-right" >
      <p class="post-meta text-d20-{{ theme_style }} h3">{{ page.date | date: "%b %-d, %Y" }}</p>
      <p class="post-meta text-d20-{{ theme_style }} h5 py-2">{{ page.author_name }}</p>
      <p class="post-meta text-d20-{{ theme_style }}"><small>{{ page.author_title }}</small></p>
      {% if page.author_image %}
        <img src="{{ page.author_image }}" class="mb-3">
      {% endif %}
      <div class="d-none d-lg-block">
        {% if page.tags[0] %}
          <hr class="mb-3 mt-1">
          <p class="text-d20-{{ theme_style }} h4">Fish</p>
          <ul class="list-unstyled text-d10-{{ theme_style }}">
            {% for tag in page.tags %}
              {% if forloop.first %}
              {% endif %}
              <li>{{ tag }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if page.categories[0] %}
        
          <hr class="mb-3 mt-1">
          <p class="text-d20-{{ theme_style }} h4">Locations</p>
          <ul class="list-unstyled text-d10-{{ theme_style }}">
            {% for category in page.categories %}
              <li>{{ category }} </li>
            {% endfor %}
          </ul>
        {% endif %}        
      </div>
      <hr class="mb-3 mt-1">
    </div>
    <div class="col-12 col-lg-9">
      {{ content }}
    </div>
    {% endif %}
    

    {% if page.toc %}
    <div class="col-12 col-md-4">
      <h4>Contents</h4>
      {{ content | toc_only }} 
      
      {% include ad.html %}
    </div>
    {% endif %}
    
    <!-- <header class="col-12">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </header> -->
    
    

  </article>

</main>