---
layout: default
---
{% assign theme_style = page.theme_style | default: site.theme_style   %}

<div class="container"  style="margin-top:66px">
  <div class="row">
    <div class="col-11">
      <h1 class="display-1 text-uppercase text-d20-grey">{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>
        {{ page.description }}
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">

    <div class="col-12 ">
      <div class="container-fluid">

        {% assign pros = site.pro-staff  | sort: 'title'  %}
        <div class="row">
          {% for pro in pros %}
            
            {% if pro.staff-type == "elite" %}
              <div class="col-12 col-lg-4 text-d10-{{ theme_style }} my-3 order-1">
            {% else %}
                <div class="col-12 col-lg-4 text-d10-{{ theme_style }} my-3 order-12">
            {% endif %}


              <a href="{{ pro.url }}"><img class="rounded-circle img-fluid mx-auto d-block mb-3" src="{{ pro.image }}"></a>
              <a href="{{ pro.url }}">
                <h2 class="text-center h5 mb-0">
                  {{ pro.title }}
                </h2>
              </a>

              {% if pro.staff-type == "elite" %}
                <!-- <p class="text-center mb-0"><small>Elite Pro Staff</small></p> -->
              {% endif %}
              
              <p class="text-center mb-0">{{ pro.location }}</p>


              <ul class="list-unstyled mt-2">
                <li><strong>Affiliated with:</strong></li>
                {% for affiliate in pro.affiliates %}
                  {% if affiliate == "IRT Reels xxx" %}
                    {% continue %}
                  {% endif %}
                  {% assign aff = site.partnerships | where:"title", affiliate | first %}
                  <li class="ml-2"><a href="{{ aff.url }}">{{ aff.title }}</a></li>
                {% endfor %}
              </ul>
              
              <div class="text-center mb-3">
                <a href='{{ pro.links.instagram }}'><i class='mx-2 fa-2x  fab fa-instagram'></i></a>
                <a href='{{ pro.links.twitter }}'><i class='mx-2 fa-2x  fab fa-twitter-square'></i></a>
                <a href='{{ pro.links.facebook }}'><i class='mx-2 fa-2x  fab fa-facebook-square'></i></a>
                <a href='{{ pro.links.pinterest }}'><i class='mx-2 fa-2x  fab fa-pinterest-square'></i></a>
                <a href='{{ pro.links.website }}'><i class='mx-2 fa-2x  fas fa-globe'></i></a>
              </div>

            </div>

            {% endfor %}
          </div>

        
      </div>
    </div> 
  </div>
</div>

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border:none;
    }
    /* header{display: none!important} */
</style>
<a id="map" ></a>
<div  class=" container-fluid" style="padding-top:68px">
  <div class="row">
    <div class="col-12 google-maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1gJ0fl4ISVD_T5-4aDZ6CMw7881M" width="640" height="480"></iframe>
    </div>
  </div>
</div>