---
layout: default
---
{% assign theme_style = page.theme_style | default: site.theme_style   %}

<div class="container"  style="margin-top:80px">
  <div class="row">
    <div class="col-11">
      <h1 class="display-1 text-uppercase text-d20-grey">{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>
        {{ page.description }}
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="container-fluid">

        {% assign pros = site.pro-staff  | sort: 'title'  %}
        <div class="row">
          <div class="col-12 order-9 py-3"></div>
          {% for pro in pros %}
            
            {% if pro.staff-type == "elite" %}
              <div class="col-12 col-md-6 col-lg-6 text-d10-{{ theme_style }} my-3 order-1">
              {% assign img-ratio = 'width="350px" height="350px"'  %}      
            {% else %}
              {% assign img-ratio = 'width="150px" height="150px"'  %}      
              {% assign rank = 12  %}     
              
              {% if pro.image %}
                {% assign rank = rank | minus: 2  %}     
              {% endif %}
              {% if pro.cover %}
                {% assign rank = rank | minus: 1  %}     
              {% endif %}
              {% if pro.location %}
                {% assign rank = rank | minus: 1  %}     
              {% endif %}
              {% if pro.links %}
                {% assign rank = rank | minus: 1  %}     
              {% endif %}
            
              <div class="col-6 col-md-4 col-lg-3 text-d10-{{ theme_style }} my-3 order-{{ rank }}">
            {% endif %}

              {% if pro.image %}
              <a href="{{ pro.url }}">
                <img class="rounded-circle img-fluid mx-auto d-block mb-3 img-thumbnail" {{ img-ratio }} src="{{ pro.image }}">
              </a>
              {% endif %}
              <a href="{{ pro.url }}">
                <h2 class="text-center h5 mb-0">
                  {{ pro.title }}
                </h2>
              </a>

              {% if pro.staff-type == "elite" %}
                <!-- <p class="text-center mb-0"><small>Elite Pro Staff</small></p> -->
              {% endif %}
              
              <p class="text-center mb-0">{{ pro.location }}</p>

            </div>

            {% endfor %}
          </div>

        
      </div>
    </div> 
  </div>
</div>

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border:none;
    }
    /* header{display: none!important} */
</style>
<a id="map" ></a>
<div  class=" container-fluid" style="padding-top:68px">
  <div class="row">
    <div class="col-12 google-maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1gJ0fl4ISVD_T5-4aDZ6CMw7881M" width="640" height="480"></iframe>
    </div>
  </div>
</div>