---
layout: default
---


<!-- Product Line Nav -->
<ul class="nav nav-pills nav-fill fixed-bottom p-3 m-0" style="background:white;">
  <li class="nav-item">
    <a class="nav-link disabled h5 m-0" >Spinning Reels</a>
  </li>
{% assign links = site.data.navigation[0].sublinks | reverse %}
{% for link in links %}
  
  {% if link.title == "Overview" or link.title == "Technical Comparison" or link.title == "separator" or link.title == "Spinning Reel Series" %}
    {% continue %}
  {% endif %}  
  {% if page.url == link.url %}
      {% assign class = 'active' %}
  {% endif %}

  <li class="nav-item ">
    <a class="nav-link {{ class }}" href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li>
  {% assign class = nil %}
  
{% endfor %}

</ul>

<style>
  body{
    margin-bottom:72px;
  }
  html{
    background: #231F20;
  }
  footer.footer{display: none;}
  #content > ul > li > a.active:hover{
    color:white;
  }

</style>



<div class="container-fluid mt-5 pt-5 product-head " style="max-height:100vh;">
  
  <div class="row" >

  

    <div class="col-4 my-auto pl-5">
      <h1 class="pr-5 py-5 pl-3 m-0" >{{ page.title }}</h1>
    </div>
    <div class="col-4">
      <img src="{{ page.fish }}">
    </div>
    <div class="col-4 pr-5 my-auto">
        <!-- <img  src="{{ page.fish }}">      -->
         <ul class="list-unstyled m-0 pr-3 ">
      <!-- <p class="" >  -->
          {% for fish in page.fish_recommendation %}

              <li class="lead text-uppercase text-l20-grey">{{ fish }}</li>

          {% endfor %}
        <!-- </p> -->
        </ul>   
    </div>
    <div class="col-12 pl-5">
      <p class="lead my-3 pb-3 pl-3">{{ page.description }}</p>      
    </div>
  </div>
  <div  id="spinner" >
    <div class="d-flex align-items-center justify-content-center" style="height:75vh">
      <div class="container-fluid align-self-center text-l30-grey">
        <div class="row">
          <div class="col-12 text-center">
            <div class="fa-5x">
              <i class="fas fa-circle-notch fa-spin"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p class="m-0"><small>loading...</small></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container" id="reel" >
  <article class="row">

    


    {% if content %}
    <div class="col-12 mb-5 py-5" id="content">
      {{ content }}
    </div>
    {% endif %}
    


  </article>

 

  <div class="row mb-5" id="reel-details" >
    
    <div class="col-12">
      <h2>Technical Specifications</h2>
    </div>
    <div class="col-12 col-lg-4">   
      <p class="mb-1"><strong>Sizes &amp; Capabilities:</strong></p>
      <ul class="list-unstyled text-right mx-0">
        <li><span class="float-left">Weight:</span> {{ page.weight }}</li>
        <li><span class="float-left">Max Drag:</span> {{ page.max-drag }}</li>
        {% if page.power-drag  %}
          <li><span class="float-left">Power Drag Option:</span> {{ page.power-drag }}</li>
        {% else %}
          <li><span class="float-left">Power Drag Option:</span> n/a</li>
        {% endif %}
        <li><span class="float-left">Gear Ratio:</span> {{ page.gear-ratio }}</li>
        <li><span class="float-left">Bearings:</span> {{ page.bearings }}</li>
        <li><span class="float-left">Line Retrieval:</span> {{ page.line-retrieval }}</li>
      </ul>
      
    
      <p class="mb-1"><strong>Approximate Braided Line Capacity:</strong></p>
      <ul class="list-unstyled">
        {% assign braided-line-capacity = page.braided-line-capacity | reverse %}
        {% for blc in braided-line-capacity %}
          <li>{{ blc }} <small>yds/lbs</small></li>
        {% endfor %}
      </ul>
        
      <p class="mb-1"><strong>Approximate Mono Line Capacity:</strong></p>
      <ul class="list-unstyled">
        {% assign mono-line-capacity = page.mono-line-capacity | reverse %}
        {% for mlc in mono-line-capacity %}
          <li>{{ mlc }} <small>yds/lbs</small></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-lg-8 px-5">
      <img class="img-fluid border" src="/assets/images/exploded-spinning-reel.png">
    </div>

    
    <div class="col-12 mt-5">
       {% include media-gallery.html data-gallery="s300" reel-series=page.series reel-type=page.type %}
     </div>

   
  </div>

  
</div>


