---
layout: default
---
<style>
  html, body { overflow: hidden}
  #reel-details > div:nth-child(1) > div > div > div.col-12.col-md-4 > p:nth-child(1){
    display: none;
  }
</style>



<style>
  body{
    margin-bottom:72px;
  }
  html{
    background: #231F20;
  }
  footer.footer{display: none;}
  #content > ul > li > a.active:hover{
    color:white;
  }

</style>



<div class="container-fluid pt-5 product-head " style="max-height:100vh;margin-top:76px">
  
  <div class="row" >

  

    <div class="col-4 mt-auto pl-5">
      <h1 class="pr-5 pl-3 m-0" >{{ page.title }}</h1>
    </div>
    <div class="col-4">
      <img src="{{ page.fish }}">
    </div>
    <div class="col-4 pr-5 my-auto">
        <!-- <img  src="{{ page.fish }}">      -->
         <ul class="list-unstyled m-0 pr-3 ">
      <!-- <p class="" >  -->
          {% for fish in page.fish_recommendation %}

              <li class="lead text-uppercase text-l20-grey">{{ fish }}</li>

          {% endfor %}
        <!-- </p> -->
        </ul>   
    </div>
    <div class="col-12 pl-5">
      <p class="lead my-3 pb-3 pl-3">{{ page.description }}</p>      
    </div>
  </div>
  <div  id="spinner" >
    <div class="d-flex align-items-center justify-content-center" style="height:75vh">
      <div class="container-fluid align-self-center text-l30-grey" style="margin-bottom: 10rem;">
        <div class="row">
          <div class="col-12 text-center">
            <div class="fa-5x">
              <i class="fas fa-circle-notch fa-spin"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p class="m-0"><small>loading...</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div  id="reel" >
  <div class="container" >
    <div class="row mb-5" id="reel-details" >
      <div class="col-12">
        
        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-12 col-md-4">
              <h2 class="mt-5 text-left w-100">Details</h2>
              <p>{{ page.long_description | markdownify }} </p>
            </div>
            <div class="col-12 col-md-8">
              <div class="row no-gutters justify-content-end">

                {% for photo in page.photos %}
                  {% if forloop.first %}
                    {% assign col = "col-12" %}
                  {% else %}                  
                    {% assign col = "col-3" %}
                  {% endif %}
                  <div class="{{ col }} px-1 py-1">
                    {% include media.html id=photo data-gallery=page.title class="float-left w-100" %}
                  </div>

                {% endfor %}
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-12">
        <h2 class="mt-5 text-left w-100">Technical Specifications</h2>
      </div>
      <div class="col-12 col-lg-4">   
        <p class="mb-1"><strong>Sizes &amp; Capabilities:</strong></p>
        <ul class="list-group list-group-flush text-right mx-0">
          <li class="list-group-item" style="border-top:none; background-color:transparent;"><span class="float-left">Weight:</span> {{ page.weight }}</li>
          <li class="list-group-item" style="background-color:transparent;"><span class="float-left">Max Drag:</span> {{ page.max-drag }}</li>
          {% if page.dual-drag  %}
            <li class="list-group-item" style="background-color:transparent;"><span class="float-left">Dual Drag Option:</span> {{ page.dual-drag }}</li>
          {% else %}
            <li class="list-group-item" style="background-color:transparent;"><span class="float-left">Dual Drag Option:</span> n/a</li>
          {% endif %}
          <li class="list-group-item" style="background-color:transparent;"><span class="float-left">Gear Ratio:</span> {{ page.gear-ratio }}</li>
          <li class="list-group-item" style="background-color:transparent;"><span class="float-left">Bearings:</span> {{ page.bearings }}</li>
          <li class="list-group-item" style="border-bottom:none; background-color:transparent;"><span class="float-left">Line Retrieval:</span> {{ page.line-retrieval }}</li>
        </ul>
          
      
        <p class="mb-1 mt-3"><strong>Approximate Braided Line Capacity:</strong></p>
        <ul class="list-group list-group-flush text-right mx-0">
          {% assign braided-line-capacity = page.braided-line-capacity | reverse %}
          {% for blc in braided-line-capacity %}
            {% if forloop.first %}
              {% assign style = "style='border-top:none; background-color:transparent;'" %}
            {% elsif forloop.last %}
              {% assign style = "style='border-bottom:none; background-color:transparent;'" %}
            {% else %}
              {% assign style = "style='background-color:transparent;'" %}
            {% endif %}
            <li class="list-group-item" {{ style }}>{{ blc }} <small>yds/lbs</small></li>
          {% endfor %}
        </ul>

        <p class="mb-1"><strong>Approximate Mono Line Capacity:</strong></p>
        <ul class="list-group list-group-flush text-right mx-0">
          {% assign mono-line-capacity = page.mono-line-capacity | reverse %}
          {% for mlc in mono-line-capacity %}
            {% if forloop.first %}
              {% assign style = "style='border-top:none; background-color:transparent;'" %}
            {% elsif forloop.last %}
              {% assign style = "style='border-bottom:none; background-color:transparent;'" %}
            {% else %}
              {% assign style = "style='background-color:transparent;'" %}
            {% endif %}
            <li class="list-group-item" {{ style }} >{{ mlc }} <small>yds/lbs</small></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-lg-8 px-5 my-auto">
        <img class="img-fluid border" src="/assets/images/exploded-spinning-reel.png">
      </div>

      
    

    
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">

      {% if content %}
      <h2 class="my-5 text-center w-100">Standard Configurations</h2>
      <div class="  col-12" id="content">
        {{ content }}
      </div>
      {% endif %}
      
    </div>
    
    <div class="row">
      <h2 class="my-5 text-center w-100">IRT Family Photos</h2>
      <div class="col-12 ">
        {% include media-gallery.html data-gallery="product-gallery" reel-series=page.series reel-type=page.type limit="15" %}
      </div>
    </div>
  </div>
</div>


