---
layout: default
---

<!-- Product Line Nav -->
<ul class="nav nav-pills nav-fill fixed-bottom p-3 m-0" style="background:white;">
  <li class="nav-item">
    <a class="nav-link disabled h5 m-0" >Spinning Reels</a>
  </li>
{% assign links = site.data.navigation[0].sublinks | reverse %}
{% for link in links %}
  
  {% if link.title == "Overview" or link.title == "Technical Comparison" or link.title == "separator" or link.title == "Spinning Reel Series" %}
    {% continue %}
  {% endif %}  
  {% if page.url == link.url %}
      {% assign class = 'active' %}
  {% endif %}

  <li class="nav-item ">
    <a class="nav-link {{ class }}" href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li>
  {% assign class = nil %}
  
{% endfor %}

</ul>

<style>
  body{
    margin-bottom:72px;
  }
  #content > ul > li > a.active:hover{
    color:white;
  }

</style>


<!-- <div class="vh100 d-flex  align-items-center justify-content-center" id="spinner">
    <div class="d-flex  ">
      
      <div class="fa-3x">
        <i class="fas fa-circle-notch fa-spin"></i>
      </div>
  
    </div>
  </div> -->


<main class="container-fluid my-5 pt-5 grad-three"  >
  
  <!-- <div class="row" style="background:url( '{{ page.fish }}' ); background-size: 300px;  background-position:top center;      background-repeat: no-repeat; "> -->
  <div class="row">

    <div class="col-4 my-auto pl-5">
      <h1 class="pr-5 py-5 pl-3" >{{ page.title }}</h1>
    </div>
    <div class="col-4">
      <img src="{{ page.fish }}">
    </div>
    <div class="col-4 pr-5">
        <!-- <img  src="{{ page.fish }}">      -->
         <ul class="list-unstyled m-0 pr-3" style="min-height:144px">
      <!-- <p class="" >  -->
          {% for fish in page.fish_recommendation %}

              <li class="lead text-uppercase text-l20-grey">{{ fish }}</li>

          {% endfor %}
        <!-- </p> -->
        </ul>   
    </div>
    <div class="col-12 pl-5">
      <p class="lead my-3 pb-3 pl-3">{{ page.description }}</p>      
    </div>
  </div>
</main>
<div class="container">
  <div class="row">
    <div class="col-12">   
      <!-- <p class="mb-1"><strong>Fishing Recommendations:</strong></p> -->
     
      
    </div>
  </div>

  <article class="row">

    {% if page.cover == null %}
    <div class="col-12">
      <h1 class="display-5 text-uppercase">{{ page.long_title | escape }}</h1>
    </div>
    {% endif %}
    


    {% if content %}
    <div class="col-12 mb-5" id="content">
      {{ content }}
    </div>
    {% endif %}
    


  </article>


  <div class="row">
    <div class="col-12">
      <h2>Technical Specifications</h2>
    </div>
    <div class="col-12 col-lg-4">   
      <p class="mb-1"><strong>Sizes &amp; Capabilities:</strong></p>
      <ul class="list-unstyled text-right mx-0">
        <li><span class="float-left">Weight:</span> {{ page.weight }}</li>
        <li><span class="float-left">Max Drag:</span> {{ page.max-drag }}</li>
        {% if page.power-drag  %}
          <li><span class="float-left">Power Drag Option:</span> {{ page.power-drag }}</li>
        {% else %}
          <li><span class="float-left">Power Drag Option:</span> n/a</li>
        {% endif %}
        <li><span class="float-left">Gear Ratio:</span> {{ page.gear-ratio }}</li>
        <li><span class="float-left">Bearings:</span> {{ page.bearings }}</li>
        <li><span class="float-left">Line Retrieval:</span> {{ page.line-retrieval }}</li>
      </ul>
      
    </div>
    <div class="col-12 col-lg-4">
      <p class="mb-1"><strong>Approximate Braided Line Capacity:</strong></p>
      <ul class="list-unstyled">
        {% for blc in page.braided-line-capacity %}
          <li>{{ blc }} <small>yds/lbs</small></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-lg-4">    
      <p class="mb-1"><strong>Approximate Mono Line Capacity:</strong></p>
      <ul class="list-unstyled">
        {% for mlc in page.mono-line-capacity %}
          <li>{{ mlc }} <small>yds/lbs</small></li>
        {% endfor %}
      </ul>
    </div>
    
  </div>

  

</div>


