---
layout: default
---
{% assign theme_style = page.theme_style | default: site.theme_style   %}


{% if page.cover %}
<div class="jumbotron cover jumbotron-fluid mb-5" style="background-image:url('{{ page.cover }}');">
  <div class="container" >
    <div class="row">
      <div class="col-2">
        <img src="{{ page.image }}" class="img-fluid rounded float-left my-3 " alt="{{ page.title }}">
      </div>
      <div class="col-6 my-auto">
        <h1 class="display-5 mt-4 text-uppercase">{{ page.title }}</h1>
        <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.location  }}</p>
      </div>
      <div class="col-4 d-flex align-items-center">
        <div class="text-right w-100">
        
          {% if page.links.instagram %}
          <a href='{{ page.links.instagram }}'><i class='mx-2 fa-2x fab fa-instagram'></i></a>
          {% endif %}
          {% if page.links.twitter %}
            <a href='{{ page.links.twitter }}'><i class='mx-2 fa-2x fab fa-twitter-square'></i></a>
          {% endif %}
          {% if page.links.facebook %}
            <a href='{{ page.links.facebook }}'><i class='mx-2 fa-2x fab fa-facebook-square'></i></a>
          {% endif %}
          {% if page.links.pinterest %}
            <a href='{{ page.links.pinterest }}'><i class='mx-2 fa-2x fab fa-pinterest-square'></i></a>
          {% endif %}
          {% if page.links.website %}
            <a href='{{ page.links.website }}'><i class='mx-2 fa-2x fas fa-globe'></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container mt-10 mb-3" >
  <div class="row">
    <div class="col-2  my-auto">
      <img src="{{ page.image }}" class="img-fluid rounded float-right border" alt="{{ page.title }}">
    </div>
    <div class="col-12 col-lg-10 my-auto">
      <h1 class=" text-uppercase text-d20-grey my-0">{{ page.title }}</h1>
      <div class="text-left mt-3 w-100">
          {% if page.links.instagram %}
          <a href='{{ page.links.instagram }}'><i class='mx-2 fa-2x fab fa-instagram'></i></a>
          {% endif %}
          {% if page.links.twitter %}
            <a href='{{ page.links.twitter }}'><i class='mx-2 fa-2x fab fa-twitter-square'></i></a>
          {% endif %}
          {% if page.links.facebook %}
            <a href='{{ page.links.facebook }}'><i class='mx-2 fa-2x fab fa-facebook-square'></i></a>
          {% endif %}
          {% if page.links.pinterest %}
            <a href='{{ page.links.pinterest }}'><i class='mx-2 fa-2x fab fa-pinterest-square'></i></a>
          {% endif %}
          {% if page.links.website %}
            <a href='{{ page.links.website }}'><i class='mx-2 fa-2x fas fa-globe'></i></a>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}



<div class="container my-5">
  <div class="row">
    <div class="col-12">

    </div>

    <div class="col-12 col-lg-9">
      {% assign content = page.content | strip_newlines %}
      {% if content != "" %}
        <h2>About</h2>
        {{ content }}
      {% endif %}
    </div>

    <div class="col-12 col-lg-3">
      {% if page.affiliates %}
        <h3 class="h5">Affiliated with:</h3>
        <ul class="list-unstyled mt-2">
          {% for affiliate in page.affiliates %}
            {% if affiliate == "IRT Reels xxx" %}
              {% continue %}
            {% endif %}
            {% assign aff = site.partnerships | where:"title", affiliate | first %}
            <li class="ml-2"><a href="{{ aff.url }}">{{ aff.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      {% assign posts = site.posts | where: "author", page.title | default: nil %}
      {% if page.affiliates and posts %}
        <hr class="my-3"> 
      {% endif %}
      {% if posts %}
        <h3 class="h5">Authored Blogs</h3>
        <ul class="list-unstyled">
          {% for post in posts %}
            <li class="my-2" style="line-height: 1;"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
        {% assign media = site.media | where: "angler-name", page.title  %}
        {% if media.size > 0 %}
            <h2>Photos</h2>
        {% endif %}
    </div>
    <div class="col-12 ">
        {% include media-gallery.html data-gallery="angler-gallery" angler=page.title limit="25" %}
    </div>
  </div>
</div>