---
layout: default
---
{% assign theme_style = page.theme_style | default: site.theme_style   %}


{% if page.cover %}
<div class="jumbotron cover jumbotron-fluid mb-5" style="background-image:url('{{ page.cover }}');">
  <div class="container" >
    <div class="row">
      {% if page.logo %}
        <div class="col-2">
          <img src="{{ page.logo }}" class="img-fluid rounded float-left my-3 border" alt="{{ page.title }}">
        </div>
      {% endif %}
      <div class="col-6 my-auto">
        <h1 class="display-5  text-uppercase">{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container mt-10 mb-3" >
  <div class="row">
    {% if page.logo %}
      <div class="col-2  my-auto">
        <img src="{{ page.logo }}" class="img-fluid rounded float-right border" alt="{{ page.title }}">
      </div>
    {% endif %}
    <div class="col-12 col-lg-10 my-auto">
      <h1 class=" text-uppercase text-d20-grey my-0">{{ page.title }}</h1>
    </div>
  </div>
</div>
{% endif %}


<div class="container mb-5">
  <div class="row">
    <div class="col-12">

    </div>

    <div class="col-12 col-lg-9">

      {{ page.content }}

    </div>
    <div class="col-12 col-lg-3">
      {% if page.website_url %}
        <div class="my-2">
          <h5 class="mb-0">Website</h5>
          <a href='{{ page.website_url }}' alt="{{ page.title }}" target="_blank"><i class='mx-2 fas fa-globe'></i> {{ page.website_url | remove: 'http://' | remove: 'https://' | remove: "/" }}</a>
        </div>
      {% endif %}
      {% if page.address %}
        <div class="my-2">
            <h5 class="mb-0">Address</h5>
          <p>
            {{ page.address }}
          </p> 
        </div>
      {% endif %}
      {% if page.representatives %}

        {% if page.representatives.first %}
          {% assign rep-context = "Representatives" %}
        {% else %}
          {% assign rep-context = "Representative" %}
        {% endif %}   
        <div class="my-2">
          
          <h5 class="mb-0">{{ rep-context }}</h5>
          
          <ul class="list-unstyled">
            {% for affiliate in page.representatives %}
              
              {% assign pro-staff = site.pro-staff | where:"title", affiliate | first %}
              {% if pro-staff %}
                <li class="ml-1"><a href="{{ pro-staff.url }}">{{ pro-staff.title }}</a></li>
              {% else %}
                <li class="ml-1">{{ affiliate }}</li>
              {% endif %}            
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% assign posts = site.posts | where: "author", page.title | default: nil %}
      {% if page.affiliates and posts %}
        <hr class="my-3"> 
      {% endif %}
      {% if posts %}
        <h3 class="h5">Authored Blogs</h3>
        <ul class="list-unstyled">
          {% for post in posts %}
            <li class="my-2" style="line-height: 1;"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

