---
layout: default
---
{% assign theme_style = page.theme_style | default: site.theme_style   %}

<div class="container mt-10" >
  <div class="row">
    <div class="col-12 col-lg-10 my-auto">
      <h1 class=" text-uppercase text-d20-grey my-0">{{ page.title }}</h1>
      
    </div>
    
  </div>
  
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-6">
      <img src="{{ page.patent_image }}" class="img-fluid rounded float-right ml-4 mb-3 border" alt="{{ page.title }}">
    </div>
    <div class="col-12 col-lg-6">
      <div class="container-fluid">
        
      </div>
    </div>    
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col">

      {{ page.content }}

    </div>
  </div>
</div>

