---
layout: default
---

<ul class="nav nav-pills justify-content-end fixed-bottom p-3 m-0" style="background:white;">
  <li class="nav-item">
    <a class="nav-link disabled h5 m-0" >Spinning Reel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled h5 m-0" >|</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/spinning-reels/comparison" >Series Comparison</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/spinning-reels/comparison" >Buy</a>
  </li>
</ul>
<style>
    body{
        margin-bottom:72px;
    }
    #content > ul > li > a.active:hover{
        color:white;
    }
</style> 

{% if page.cover %}
<div class="jumbotron cover jumbotron-fluid mb-5" style="background-image:url('{{ page.cover }}');">
  <div class="container" >
    <div class="row">
      <div class="offset-1 col-11">
        <h1 class="display-5 mt-4 text-uppercase">{{ page.long_title | escape }}</h1>
        <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<main class="container mt-10" aria-label="Content">

  <article class="row">

    {% if page.cover == null %}
    <div class="col-12">
      <h1 class="display-5 text-uppercase">{{ page.long_title | escape }}</h1>
      <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
    </div>
    {% endif %}

    <div id="fishing" class="col-12">
      <h2 class="text-center display-4">Enhance your fishing experience</h2>
      {% assign fishing = site.features | where:'type', 'fishing' | reverse %}
      {% for feature in fishing %}
      <div class="container-fluid my-5">
        <div class="row">
          <div class="my-auto col-4 {% cycle 'order-1', 'order-2' %}">
            <h4>
              {{ feature.title }}
            </h4>
            <p>{{ feature.content }}</p>
          </div>
          <div class="my-auto col-8 {% cycle 'order-2', 'order-1' %}">
            {% if feature.image %}
              <img src="{{ feature.image }}" class="rounded">
            {% else %}            
              <img src="http://via.placeholder.com/900x650">
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="tech" class="col-12">
      <h2 class="text-center display-4">Revolutionary Technology</h2>
      {% assign tech = site.features | where:'type', 'tech'| sort: 'weight'  %}
      {% for feature in tech %}
        {% if feature.published == false %}
          {% continue %}
        {% endif %}
      <div class="container-fluid my-5">
        <div class="row">
          <div class="my-auto col">
            <h4>
              {{ feature.title }}
            </h4>
            <p>{{ feature.content }}</p>
          </div>
          
          <div class="my-auto col-8">
            <!-- <img src="{{ feature.image }}"> -->
            <img src="http://via.placeholder.com/1500x950">            
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="irt" class="col-12">
      <h3 class="text-center display-4">The Star on Top </h3>
      <!-- <i class="far fa-star text-d10-four" style="font-size: .6em;margin: 0px -3px 0px -9px;"></i> -->
      <!-- <div class="text-center">
        <span class="h1 "></span>
      </div> -->
      {% assign irt = site.features | where:'type', 'irt' | reverse %}
      {% for feature in irt %}
      <div class="container-fluid ">
        <div class="row">
          <div class="my-auto offset-3 col-6 py-5">
            <h4>
              {{ feature.title }}
            </h4>
            <p>{{ feature.content }}</p>
          </div>
        </div>
        {% if feature.image %}
        <div class="row">
          <div class="my-auto offset-2 col-8">
            <img src="{{ feature.image }}">
            <!-- <img src="http://via.placeholder.com/1500x950">             -->
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    
    <div id="customizations" class="col-12 my-5">
      <h2>Customizations</h2>
      <div class="container-fluid">
        {% assign customizations = site.data.customizations %}
        {% for customization in customizations %}
          <div class="row my-5">
            <div class="col-12">
              <h3 class="my-3">{{ customization.title }}</h3>
            </div>
            
            {% if customization.options %}
              {% for option in customization.options %}
                <div class="col">
                  <img src="{{ option.image }}">                          
                  <h4 class="my-3">
                    {{ option.name }}
                  </h4>
                </div>
              {% endfor %}
            {% elsif customization.image %}
            <div class="col-12">            
              <img src="{{ customization.image }}">            
            </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  
    

    {% if content %}
    <div class="col-12 " id="content">
      {{ content }}
    </div>
    {% endif %}
    


  </article>

</main>

