---
layout: default
---

{% if page.cover %}
<div class="jumbotron cover jumbotron-fluid mb-5" style="background-image:url('{{ page.cover }}');">
  <div class="container" >
    <div class="row">
      <div class="offset-1 col-11">
        <h1 class="display-3 text-uppercase">{{ page.long_title | escape }}</h1>
        <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<main class="container mt-10" aria-label="Content">

  <article class="row">

    {% if page.cover == null %}
    <div class="col-12">
      <h1 class="display-5 text-uppercase">{{ page.long_title | escape }}</h1>
      <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
    </div>
    {% endif %}

    <div id="fishing" class="col-12">
      <h3>Fishing</h3>
      {% assign fishing = site.features | where:'type', 'fishing'  %}
      {% for feature in fishing %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {{ feature.title }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="tech" class="col-12">
      <h3>Technology</h3>
      {% assign tech = site.features | where:'type', 'tech'  %}
      {% for feature in tech %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {{ feature.title }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="irt" class="col-12">
      <h3>IRT</h3>
      {% assign irt = site.features | where:'type', 'irt' | reverse %}
      {% for feature in irt %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {{ feature.title }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    

  
    

    {% if content %}
    <div class="col-12 " id="content">
      {{ content }}
    </div>
    {% endif %}
    


  </article>

</main>

