---
layout: default
---

<ul class="nav nav-pills justify-content-end fixed-bottom p-3 m-0" style="background:white;">
  <li class="nav-item">
    <a class="nav-link disabled m-0" >Spinning Reel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled m-0" >|</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/spinning-reels/comparison" >Compare</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/spinning-reels/comparison" >Buy</a>
  </li>
</ul>
<style>
    body{
        margin-bottom:72px;
    }
    #content > ul > li > a.active:hover{
        color:white;
    }
</style> 

{% if page.cover %}
<div class="jumbotron cover jumbotron-fluid mb-5" style="background-image:url('{{ page.cover }}');">
  <div class="container" >
    <div class="row">
      <div class="offset-1 col-11">
        <h1 class="display-5 mt-4 mb-0 text-uppercase">{{ page.long_title | escape }}</h1>
        <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}


<main class="container mt-10" aria-label="Content">

  <article class="row">

    {% if page.cover == null %}
    <div class="col-12">
      <h1 class="display-5 text-uppercase">{{ page.long_title | escape }}</h1>
      <p class="lead" style="font-weight:400; padding:1% 0;">{{ page.description  }}</p>
    </div>
    {% endif %}

    <div id="fishing"  class="col-12 ">
      <h2 class="text-center ">Enhance your fishing experience</h2>
    </div>
    
    <div class="col-12">
      <div class="container-fluid my-5">
        <div class="row">
          {% assign fishing = site.features | where:'type', 'fishing' | reverse %}
          {% for feature in fishing %}
          {% if feature.image %}
          <div class="col-12 col-md-4 text-center">
              <img src="{{ feature.image }}" class="rounded border">
              <h4 class="my-4">
                {{ feature.title }}
              </h4>
              <p class="my-0">{{ feature.content }}</p>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="tech" class="col-12">
      <h2 class="text-center " >Revolutionary Technology</h2>
      <div class="container-fluid my-5">
        <div class="row">
        {% assign tech = site.features | where:'type', 'tech'| sort: 'weight'  %}
        {% for feature in tech %}
          {% if feature.published == false %}
            {% continue %}
          {% endif %}
          {% if feature.image %}
            {% assign rank = 2 %}
          {% else %}
            {% assign rank = 4 %}
          {% endif %}         
          {% if feature.title == "Power Grip" %}
            {% assign rank = 1 %}
          {% endif %}         
          {% if feature.title == "Dual Drag" %}
            {% assign rank = 3 %}
          {% endif %} 
          <div class="col-md-4 col-12 order-{{ rank }} mb-4">
            {% if feature.image %}
              <img src="{{ feature.image }}" class="rounded border">
            {% endif %}         
            <h4 class="mt-4 mb-2">{{ feature.title }}</h4>
            <p class="my-0">{{ feature.excerpt }}</p>

          </div>
          
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="irt" class="col-12">
      <h2 class="text-center ">The Star on Top </h2>

      <div class="container-fluid ">
        <div class="row">
        {% assign irt = site.features | where:'type', 'irt' | reverse %}
        {% for feature in irt %}
          <div class="col-12 col-md-4 py-5">
            {% if feature.image %}
              <img src="{{ feature.image }}" class="rounded mb-4">
            {% endif %}
            
            <h4 class="mb-2">
              {{ feature.title }}
            </h4>
            <p>{{ feature.content }}</p>
            
          
          </div>

          {% endfor %}
        </div>
      </div>
    </div>

    <div id="buy" class="col-12 mb-5">
      <h2 class="text-center ">Buy Now</h2>
      <div class="container-fluid">
        <div class="row justify-content-center my-5">
          <div class="col-12 col-md-7 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
              <button onclick="location.href = '/spinning-reels/300-series/';" type="button" class="btn btn-outline-dark toblue">IRT300</button>
              <button onclick="location.href = '/spinning-reels/400-series/';" type="button" class="btn btn-outline-dark toblue">IRT400</button>
              <button onclick="location.href = '/spinning-reels/500-series/';" type="button" class="btn btn-outline-dark toblue">IRT500</button>
              <button onclick="location.href = '/spinning-reels/600-series/';" type="button" class="btn btn-outline-dark toblue">IRT600</button>
              <button onclick="location.href = '/spinning-reels/700-series/';" type="button" class="btn btn-outline-dark toblue">IRT700</button>
              <button onclick="location.href = '/spinning-reels/800-series/';" type="button" class="btn btn-outline-dark toblue">IRT800</button>
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-12 col-md-7 text-center">
            <h3 class="text-center mb-5">Or Compare Spinning Reels</h3>
            <button onclick="location.href = '/spinning-reels/comparison/';" type="button" class="btn btn-outline-dark toblue py-3 px-5 text-uppercase">Compare All Reels</button>
          </div>
        </div>
      </div>

    </div>

  </article>
</main>

